# Firebase Admin SDK (server-side)
# Firebase console -> Project settings -> Service accounts -> Generate new private key
AUTH_FIREBASE_PROJECT_ID=my-app
AUTH_FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@my-app.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
